<!DOCTYPE html>
<html lang="en">

<head>

    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Timofej Jermolaev</title>
    <link rel="stylesheet" href="{{ url_static('styles/style.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_static('styles/colors_dark.css') }}"> -->
    <link rel="stylesheet" href="{{ url_static('styles/colors.css') }}">
    <script src="{{ url_static('scripts/main.js') }}" defer></script>
    {% endblock %}
</head>

<body>
    <header>
        <h1>茶 Timofej Jermolaev</h1>
        <nav>
            <ul>
                <li><a href="{{ url_page('index.html') }}" {% if active_page=='home' %} class="active" {% endif
                        %}>Home</a></li>
                <li><a href="{{ url_page('publications.html') }}" {% if active_page=='publications' %}
                        class="active" {% endif %}>Publications</a></li>
                <li><a href="{{ url_page('portfolio.html') }}" {% if active_page=='portfolio' %} class="active" {%
                        endif %}>Releases</a></li>
                <li><a href="{{ url_page('about.html') }}" {% if active_page=='about' %} class="active" {% endif
                        %}>About</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %}{% endblock %}
        <div class="stack">

            <div class="layer">
                {% block layers %}
                {% endblock %}
            </div>
            <div class="layer">
                <div class="controls">
                    {% block controls %}
                    <button id='theme-toggle-btn' onclick='toggleTheme()'><span id="theme-toggle-icon"></span></button>
                    {% endblock %}
                </div>
            </div>

            <div class="layer">
                <div class="footer-decor"></div>
            </div>
        </div>
        <footer>
            <div class="social-icons">
            <p>&copy; 2025 Timofej Jermolaev |</p>
                <a href="#" aria-label="Email"><img src="static/icon_email.svg"></img></a>
                <a href="#" aria-label="GitHub"><img src="static/icon_github.svg"></img></a>
                <a href="#" aria-label="LinkedIn"><img src="static/icon_linkedin.svg"></img></a>
                <a href="#" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </footer>
    </div>

</body>

</html>