<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ resources.metadata.title | default("Jupyter Notebook") }}</title>
    <link rel="stylesheet" href="{{ resources.stylesheet }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #0000da;
            color: #333;
            margin: 0;
            padding: 20px;
        }
        .output_area {
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 15px;
            margin-top: 20px;
        }
        .code_cell {
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
            padding: 15px;
        }
        .rendered_html {
            color: #444;
        }
        .katex {
            font-size: 1.2em;
            color: #007bff;
        }
        /* Custom styling for LaTeX */
        .katex .set {
            font-size: 1.5em;
            color: darkblue;
        }
    </style>
    <script type="text/javascript">
        MathJax.Hub.Config({
            TeX: {
                Macros: {
                    set: ["\\left\\{ #1 \\right\\}", 1],
                    myeq: ["\\frac{#1}{#2}", 2]
                }
            }
        });
    </script>
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
</head>
<body>
    <div class="container">
        {{ body | safe }}
    </div>
</body>
</html>