{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<main class="container">
    <section class="about-section">
        <h2>About Me</h2>
        <div class="about-content">
            <div class="profile-image">
                <img src="/api/placeholder/300/300" alt="Timofej Jermolaev">
            </div>
            <div class="bio">
                <p>Hi, I'm Timofej,
                <p>
                <p>I'm a computational artist and researcher interested in machine learning, bioinformatics, and
                    neuroscience. <br>
                    My background is mostly in game development and animation/kinematics programming</p>
                <p>Currently I'm working on <a href="https://store.steampowered.com/app/1213840/EonBlade/">EonBlade</a>
                    - an action adventure sword-fighting game </p>
                <h3>Skills</h3>
                <div class="skills-grid">
                  
                    <br>
                    <span class="skill-tag">Data Analysis</span>
                    <span class="skill-tag">Machine Learning</span>
                    <span class="skill-tag">Research</span>
                    <span class="skill-tag">Visualization</span>
                    <br>

                    <span class="skill-tag">UnrealEngine</span>
                </div>

                <h3>Languages</h3>

                <div class="skills-grid">
                    <span class="skill-tag">C/C++</span>
                    <span class="skill-tag">C#</span>
                    <span class="skill-tag">Python</span>
                    <span class="skill-tag">TypeScript/JavaScript</span>
                    <span class="skill-tag">GLSL/HSLS</span>
                    <br>
                    <span class="skill-tag">English</span>
                    <span class="skill-tag">Russian</span>
                    <span class="skill-tag">Czech</span>
            </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}