{% extends "base_layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
    {{ super() }} 
    <link rel="stylesheet" href="{{ url_static('styles/notebook.css') }}">
    <script src="{{ url_static('scripts/notebook.js') }}" defer></script>
    {% if notebook_head %}
        {{ notebook_head|safe }}
    {% endif %}
{% endblock %}

{% block controls %}
<button id='nav-button' onclick='toggleMenu()'>☰</button>
{{ super() }} 
{% endblock %}

{% block content %}

<main>
    <div class="container">
    {{ notebook_content|safe }}
    </div>
</main>


{% endblock %}

{% block layers %}
<div class='nav-menu hidden' id='nb-nav-menu'>
    <div class="nav-menu-header">Navigation:</div>
</div>
{% endblock %}